= effective_form_with(model: [:admin, report], engine: true) do |f|
  = f.text_field :title
  = f.text_area :description

  - if f.object.new_record?
    = f.select :reportable_class_name, EffectiveReports.reportable_classes.map(&:name), label: 'Resource',
      'data-load-ajax-url': effective_reports.new_admin_report_path,
      'data-load-ajax-div': '#effective-reports-ajax'
  - else
    = f.static_field :reportable_class_name, label: 'Resource'

  #effective-reports-ajax
    -# Attributes
    - attributes = f.object.reportable_attributes
    - attributes_collection = reportable_attributes_collection(attributes)

    - value_booleans = attributes.select { |_, type| type == :boolean }.keys
    - value_dates = attributes.select { |_, type| type == :date }.keys
    - value_integers = attributes.select { |_, type| type == :integer }.keys
    - value_prices = attributes.select { |_, type| type == :price }.keys
    - value_strings = attributes.select { |_, type| type == :string }.keys

    -# Scopes
    - scopes = f.object.reportable_scopes
    - scopes_collection = reportable_scopes_collection(scopes)

    - if attributes.present?
      %h2 Report Columns

      = f.has_many :report_columns do |frc|
        .card.mb-2
          .card-body.pb-2
            .row
              .col-md-4
                = frc.select :name, attributes_collection, label: false
              .col-md-2
                .mt-2= frc.check_box :filter, label: 'Filter by this column'
              .col-md-6
                = frc.show_if(:filter, true) do
                  - if value_booleans.present?
                    = frc.show_if_any(:name, value_booleans) do
                      .row
                        .col= frc.select :operation, reportable_operations_collection(:boolean), label: false
                        .col= frc.radios :value_boolean, reportable_boolean_collection, label: false, buttons: true

                  - if value_dates.present?
                    = frc.show_if_any(:name, value_dates) do
                      .row
                        .col= frc.select :operation, reportable_operations_collection(:date), label: false
                        .col= frc.date_field :value_date, label: false

                  - if value_integers.present?
                    = frc.show_if_any(:name, value_integers) do
                      .row
                        .col= frc.select :operation, reportable_operations_collection(:integer), label: false
                        .col= frc.integer_field :value_integer, label: false

                  - if value_prices.present?
                    = frc.show_if_any(:name, value_prices) do
                      .row
                        .col= frc.select :operation, reportable_operations_collection(:price), label: false
                        .col= frc.price_field :value_price, label: false

                  - if value_strings.present?
                    = frc.show_if_any(:name, value_strings) do
                      .row
                        .col= frc.select :operation, reportable_operations_collection(:string), label: false
                        .col= frc.text_field :value_string, label: false

    - if scopes.present?
      %h2 Report Scopes

      = f.has_many :report_scopes do |frs|
        .card.mb-2
          .card-body.pb-2
            .row
              .col
                = frs.select :name, scopes_collection, grouped: true, label: false
              .col
                - scopes.select { |scope, type| type.present? }.each do |scope, type|
                  = frs.show_if(:name, scope) do
                    = frs.hidden_field :advanced, value: true

                    - if type == :boolean
                      = frs.radios :value_boolean, reportable_boolean_collection, label: 'Value', buttons: true, required: true, label: false
                    - elsif type == :date
                      = frs.date_field :value_date, label: 'Value', required: true, label: false
                    - elsif type == :integer
                      = frs.integer_field :value_integer, label: 'Value', required: true, label: false
                    - elsif type == :price
                      = frs.price_field :value_price, label: 'Value', required: true, label: false
                    - elsif type == :string
                      = frs.text_field :value_string, label: 'Value', required: true, label: false
                    - else
                      - raise("Unexpected scope datatype: #{type || 'nil'}")

  = effective_submit(f)
