- if report.description.present?
  %p= report.description.to_s

- if report.filtered_report_columns.present? || report.report_scopes.present?
  %p The results of this report have been filtered by the following:

- if report.filtered_report_columns.present?
  %p= badges(report.filtered_report_columns.map(&:to_s))

- if report.report_scopes.present?
  %p= badges(report.report_scopes.map(&:to_s))

= collapse('Show SQL') do
  %p= report.collection.to_sql

- datatable = EffectiveReportDatatable.new(report: report)
= render_datatable(datatable)
